<div
  class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom"
>
  <h1 class="h2">Associados</h1>
  <div class="btn-toolbar mb-2 mb-md-0">
    <button type="button" class="btn btn-md btn-success">
      <i class="fa fa-user-plus"></i>
      Novo Associado
    </button>
  </div>
</div>
<div class="table-responsive">
  <table class="table table-striped table-sm">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Tipo de Plano</th>
        <th scope="col">Tipo de Acomodação</th>
        <th scope="col">Abrangência</th>
        <th scope="col">CPF</th>
        <th scope="col">Nome</th>
        <th scope="col">Data de Nascimento</th>
        <th scope="col">Sexo</th>
      </tr>
    </thead>

    <tbody>
      <tr *ngFor="let associado of associados">
        <td>{{ associado.tipoPlano }}</td>
        <td>{{ associado.tipoAcomodacao }}</td>
        <td>{{ associado.abrangencia }}</td>
        <td>{{ associado.cpf }}</td>
        <td>{{ associado.nome }}</td>
        <td>{{ associado.dataNascimento }}</td>
        <td>{{ associado.sexo }}</td>
      </tr>
    </tbody>
  </table>
</div>
