<div class="row">
  <div class="col-xs-12">
    <form #f="ngForm" (ngSubmit)="onSubmit(f)">
      <fieldset>
        <legend>Dados Pessoais do Plano de Saúde</legend>
        <div class="row">
          <div class="col-sm-2 form-group">
            <label for="tipoPlano">Tipo de Plano</label>
            <select
              name="tipoPlano"
              id="tipoPlano"
              class="form-control"
              required
              ngModel
            >
              <option value="">-- Selecione --</option>
              <option value="INDIVIDUAL">Individual</option>
              <option value="EMPRESARIAL">Empresarial</option>
            </select>
          </div>
          <div class="col-sm-2 form-group">
            <label for="tipoAcomodacao">Tipo de Acomodação</label>
            <select
              name="tipoAcomodacao"
              id="tipoAcomodacao"
              ngModel
              class="form-control"
            >
              <option value="">-- Selecione --</option>
              <option value="ENFERMARIA">Enfermaria</option>
              <option value="APARTAMENTO">Apartamento</option>
              <option value="VIP">VIP</option>
            </select>
          </div>

          <div class="col-sm-2 form-group">
            <label for="abrangencia">Abrangência</label>
            <select
              name="abrangencia"
              id="abrangencia"
              class="form-control"
              ngModel
            >
              <option value="">-- Selecione --</option>
              <option value="MEDICO">Medico</option>
              <option value="MEDICO_ODONTOLOGICO">Medico-Odontologico</option>
            </select>
          </div>

          <div class="col-sm-2 form-group">
            <label for="dtInicioVigencia">Início da Vigência</label>
            <input
              type="date"
              name="dtInicioVigencia"
              id="dtInicioVigencia"
              class="form-control"
              ngModel
            />
          </div>

          <div class="col-sm-2 form-group">
            <label for="dtFimVigencia">Fim da Vigência</label>
            <input
              type="date"
              name="dtFimVigencia"
              id="dtFimVigencia"
              class="form-control"
              ngModel
              required
            />
          </div>
        </div>
      </fieldset>

      <fieldset>
        <legend>Dados Pessoais do Associado</legend>
        <div class="row">
          <div class="col-sm-2 form-group">
            <label for="cpf">CPF</label>
            <input
              type="text"
              name="cpf"
              id="cpf"
              class="form-control"
              ngModel
              required
            />
          </div>

          <div class="col-sm-6 form-group">
            <label for="nome">Nome</label>
            <input
              type="text"
              name="nome"
              id="nome"
              class="form-control"
              ngModel
              required
            />
          </div>

          <div class="col-sm-2 form-group">
            <label for="dataNascimento">Data de Nascimento</label>
            <input
              type="date"
              name="dataNascimento"
              id="dataNascimento"
              class="form-control"
              ngModel
              required
            />
          </div>

          <div class="col-sm-2 form-group">
            <label for="sexo">Sexo</label>
            <select name="sexo" id="sexo" class="form-control" ngModel>
              <option value="">-- Selecione --</option>
              <option value="M">Masculino</option>
              <option value="F">Feminino</option>
            </select>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-2 form-group">
            <label for="cep">CEP</label>
            <input
              type="text"
              name="cep"
              id="cep"
              class="form-control"
              ngModel
              required
            />
          </div>

          <div class="col-sm-2 form-group">
            <label for="uf">UF</label>
            <select
              name="uf"
              id="uf"
              class="form-control"
              [(ngModel)]="selectedUF"
              (change)="onChangeUF(f)"
            >
              <option *ngFor="let ufItem of ufs" [ngValue]="ufItem">
                {{ ufItem.sigla }}
              </option>
            </select>
          </div>

          <div class="col-sm-4 form-group">
            <label for="municipio">Município</label>
            <select
              name="municipio"
              id="municipio"
              class="form-control"
              ngModel
            >
              <option
                *ngFor="let municipio of municipios"
                [ngValue]="municipio"
              >
                {{ municipio.nome }}
              </option>
            </select>
          </div>

          <div class="col-sm-4 form-group">
            <label for="bairro">Bairro</label>
            <input
              type="text"
              name="bairro"
              id="bairro"
              class="form-control"
              ngModel
              required
            />
          </div>
        </div>

        <div class="row">
          <div class="col-sm-4 form-group">
            <label for="logradouro">Logradouro</label>
            <input
              type="text"
              name="logradouro"
              id="logradouro"
              class="form-control"
              ngModel
              required
            />
          </div>

          <div class="col-sm-4 form-group">
            <label for="complemento">Complemento</label>
            <input
              type="text"
              name="complemento"
              id="complemento"
              class="form-control"
              ngModel
            />
          </div>

          <div class="col-sm-2 form-group">
            <label for="numero">Numero</label>
            <input
              type="text"
              name="numero"
              id="numero"
              class="form-control"
              ngModel
              required
            />
          </div>
        </div>

        <div class="row">
          <div class="col-sm-4 form-group">
            <label for="email">E-mail</label>
            <input
              type="email"
              name="email"
              id="email"
              class="form-control"
              ngModel
              required
            />
          </div>

          <div class="col-sm-4 form-group">
            <label for="telefone1">Telefone Principal</label>
            <input
              type="tel"
              name="telefone1"
              id="telefone1"
              class="form-control"
              ngModel
            />
          </div>

          <div class="col-sm-2 form-group">
            <label for="telefone2">Telefone Secundário</label>
            <input
              type="tel"
              name="telefone2"
              id="telefone2"
              class="form-control"
              ngModel
            />
          </div>
        </div>
      </fieldset>

      <div class="row">
        <div class="col">
          <div class="d-grid gap-2">
            <button class="btn btn-success btn-block" type="submit">
              CADASTRAR
            </button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
