<div class="container px-4 py-5" id="featured-3">
  <h2 class="pb-2 border-bottom">Portal Corporativo</h2>
  <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">
    <div class="feature col">
      <h2><i class="fa fa-user"></i> SGPS</h2>
      <p>Sistema de Gestão de Produtos e Serviços</p>
      <a class="icon-link" routerLink="/sgps/associados"> Entrar </a>
    </div>
    <div class="feature col">
      <h2><i class="fa fa-money"></i> SAF</h2>
      <p>Sistema Administrativo-Financeiro</p>
      <a href="#" class="icon-link"> Entrar </a>
    </div>
    <div class="feature col">
      <div class="feature-icon bg-primary bg-gradient"></div>
      <h2><i class="fa fa-user-md"></i> SAS</h2>
      <p>Sistema de Atenção à Saúde</p>
      <a href="#" class="icon-link"> Entrar </a>
    </div>
  </div>
</div>
